@rendermode InteractiveServer
@inject NavigationManager navManager

<div class="navbar-side">
    <nav class="flex-column d-flex align-items-center">
        <span class="fw-bolder fs-3" style="margin-top: 40px; margin-bottom: 60px; padding-top: 0.5rem">
            db
        </span>
        <div @onclick="ShowMK"
             style="cursor: pointer"
             class="nav-item px-3 my-3 d-flex justify-content-center align-items-center @(mkIsActive ? "navbar-side-btn" : "navbar-side-btn-disabled")">
            @if (mkIsActive)
            {
                <img src="/images/icons/mk_white.svg" />
            }
            else
            {
                <img src="/images/icons/mk_grey.svg" />
            }
        </div>
        <div @onclick="ShowWM"
             style="cursor: pointer"
             class="nav-item px-3 my-4 d-flex justify-content-center align-items-center @(wmIsActive ? "navbar-side-btn" : "navbar-side-btn-disabled")">
            @if (wmIsActive)
            {
                <img src="/images/icons/wh_white.svg" />
            }
            else
            {
                <img src="/images/icons/wh_grey.svg" />
            }
        </div>
    </nav>
</div>
